#map {
  display: none;
  transform: scale(1.2);
  transform: scale(1);
  display: table !important;
  margin: 0 auto;
}

#map path { fill:#0094d9 }
#map text { fill:#fff; font:12px Arial-BoldMT, sans-serif; cursor:pointer }
#map a{ text-decoration:none }
#map a:hover { cursor:pointer; text-decoration:none }
#map a:hover path{ fill:#003399 !important }
#map .circle { fill:#66ccff }
#map a:hover .circle { fill:#003399 !important; cursor:pointer }

#datepicker::placeholder{
  color: white;
}

#datepicker{
  width: 100%;
}

.cardRegiao{
  margin: 5px;
  align-self: center;
  width: 100%; 
}

.cardItemRegiao{
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';   
}