
* {
	margin: 0;
	padding: 0;
}
  
html, body {
	height: 100%;
}
.container{
	margin-top: 20px;
	min-height: 58%;
}
  
.custom-col {
	margin-bottom: 20px;
}
  
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	opacity: 1; /* Firefox */
}
 
#resultado-bolsa {
	display: none !important;
}

#resultado-auxilio {
	display: none;
}